@import "/static/res/fonts/fonts.css";


/*GENERAL STYLE*/
body{
  margin:0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
#body_especific_politic{
  background-color: #fafafa;
}
.full_width{
  margin: 0 -9999px;
  padding: 0 9999px;

}
#content{
  margin: auto;
  width: 1366px;
  height: auto;
  display: none;
}
#content_inner{
  margin: 0 auto;
  width: 880px;
}
.btn {
  font-family: AsapSemiBold;
  font-size: 14px;
  color : #00B8A9;
  width : 87px;
  height: 32.5px;
  border-radius: 20px;
  cursor: pointer;
}

.noFill{
  background-color: transparent;
  border-width: 2px;
  border-color: #00B8A9;
  border-style: solid;

}

.fill{
  border-style: none;
  color : #ffffff;
  background-color: #00B8A9;
}

h1{
  font-family: AsapMedium;
  font-size: 60px;
  font-weight: normal;
  color: #333333;
  margin: 0;
}
h2{
  font-family: AsapMedium;
  font-size: 42px;
  font-weight: normal;
  color: #333333;
}
h3{
  font-family: AsapMedium;
  font-size: 18px;
  font-weight: normal;
  color: #333333;
}
h4{
  font-family: AsapRegular;
  font-size: 14px;
  font-weight: normal;
}
p{
  font: 18px AsapRegular;
  color: #333333;
}
a{
  text-decoration: none;
  font: 14px AsapRegular;
  color: #5580E0;
}
button, select, input:focus{
  outline: none;
}

.display_ib{
  display: inline-block;
}

/*END GENERAL STYLE*/


/*HEADER STYLE*/
.header{
  width: 1366px;
  height: 100px;
  background-color: transparent;
}
.header_inner{
  margin: 0 auto;
  width: 1126px;
}
.hamburger_menu{
  display: inline-block;
  padding-top: 44px;
}
.hamburger{

  position: relative;
  width: 30px;
  height: 32.5px;
  padding-top: 2px;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #00B8A9;
    margin: 3px 0 6px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 5px);
    transform: rotate(-45deg) translate(-9px, 5px);
    padding-left: 4px;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  padding-left: 4px;
    -webkit-transform: rotate(45deg) translate(-9px, -5px);
    transform: rotate(45deg) translate(-9px, -5px);
}


.userBtn{
  display: inline-block;
  float: right;
  position: relative;
  margin-top: 44px ;
}

.userIcon{

  width: 17px;
  height: 21px;
  display: flex;
  margin-left: 5px;
  background-image: url(/static/res/icons/icon.svg);
  background-repeat: no-repeat;
}
.userIcon span{
  padding-left: 20px;
  line-height: 20px;
}

/*END HEADER STYLE*/

/*INFO 1 STYLE ------------------------------*/

#info1{
  height: 668px;

  overflow: hidden;
}
#info1_part1{
  padding : 80px 0 0 245px;
}
#info1 img{
  position: absolute;
  margin-top: -280px;
  margin-left: 540px;
  z-index: -999;
}
#title_info1{
  color: #333333;
  width: 700px;
}
#info1 h4{
  color : #333333;
  position: relative;
}

/*search style*/
#select_item{
  -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
  -moz-appearance: none; /* Remove estilo padrão do FireFox */
  appearance: none; /* Remove estilo padrão do FireFox*/
  border: none;
  border-right: solid;
  border-width: 2px;
  border-color: #b2b2b2;
  color: #333333;
  background-color: #f9f9f9;
  border-radius: 20px 0 0 20px ;
  width: auto;
  height: 40px;
  font: 14px AsapRegular;
  font-weight: normal;
  padding: 0 20px;
  background: url(/static/res/icons/dropdown_icon.svg) 95% / 15% no-repeat;
  background-size: 8% auto;


}

#select_item option{
  font: 14px AsapRegular;
  font-weight: normal;
}

#search_bar{
  -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
  -moz-appearance: none; /* Remove estilo padrão do FireFox */
  appearance: none; /* Remove estilo padrão do FireFox*/
  border: none;
  width: 480px;
  height: 40px;
  border-radius:20px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
}
#search_input{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px AsapRegular;
  width: 212px;
  border: none;
  color: #333333;
}

#search_submit{
  margin-right: 5px;
    float: right;
    margin-top: 4px;
}
#boxes{
  text-align: center;
  margin-top: 110px;
}
.explore_box{
  display: inline-table;
  background-color: #ffffff;
  width: 240px;
  height: 220px;
  margin: 0 40px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
  border-radius: 2px;
  border-left: solid;
  border-width: 4px;
  border-color: #F8F3D4;

  font: 35px AsapSemiBold;
  color: #333333;
  text-align: left;

}
.explore_box h3{
  margin: 0 0 0 15px;
  height: 105px;
}
#img_senadores{
  margin: auto;
  width: 210px;
  height: 61px;
  background: url(/static/res/icons/senadores_img.png) no-repeat;
}
.btn_explorar{
  margin-left: 15px;
}
/*END INFO 1 STYLE---------------------------*/


/*INFO 2 STYLE*/

#info2{
  width: 1366px;
  height: 880px;
  margin: auto;
  background: url(/static/res/icons/mapa_ceara.png) 23% 23% no-repeat;
}
#info2_part1{
  padding: 160px 0 0 500px;
}
#info2_part1 p{
  text-align: justify;
  width: 635px;
}
#title_info2{
  font-size: 42px ;
  margin: 0;
  width: 550px;
}
#info_boxes{
  text-align: center;
  margin-top: 105px;
}
.info_box{
  font-size: 42px !important;
  width: 420px;
  height: 400px;
  display: inline-table;
  margin: 0 30px;
}

.info_box h2{
  margin: 0;
  text-align: left;
}
.info_box p{
  text-align: justify;

}

#img_transparency, #img_bd{
  display: inline-block;

}

#img_transparency{
  background: url(/static/res/icons/transparente_icon.png) no-repeat;
  width: 148px;
  height: 150px;

}
#img_bd{
  background: url(/static/res/icons/bd_icon.png) no-repeat;
  width: 128px;
  height: 150px;
}

/*END INFO 2 STYLE*/


/*INFO 3 STYLE*/

#info3{
  width: 1366px;
  height: 364px;
  background-color: #FFDE7D;
  margin-top: 50px;
  position: relative;
}
#info3 img{
  margin-left: 190px;
}
#info3_part1{
  display: inline-block;
  padding: 30px 0 0 245px;
}
#info3_part1 p{
  width: 390px;
}
#title_info3{
  width: 440px;
}

/*END INFO 3 STYLE*/


/*FOOTER STYLE*/

#footer{
  width: 1366px;
  height: 215px;
  background-color: #333333;

}

.footer_especific_politic{
  /*margin-top: 140px;*/
}
/*END FOOTER STYLE*/




/*PG POLITICOS STYLE*/
#header_politicos{
  background-color: #FFDE7D;
}
#top_content{
  position: relative;
  background-color: #FFDE7D;
  width: 1366px;
  height: auto;
}
.img_people{
  position: absolute;
  bottom: 0;
}
#top_content_1{
  display: inline-block;
  padding : 80px 0 55px 245px;
}
#top_content_1 p{
  font-size: 14px;
  width: 630px;

}

#middle_content{
  margin: 0 auto;
  width: 880px;
}

#middle_content_all_politics{
  margin: 0 auto;
  width: 930px;
  /*text-align: center;*/
}

#middle_content_all_politics p{

  color: #B2B2B2;
  font-size: 14px;
  margin: 10px 0 0 25px;
  text-align: left;
}

#btn_saiba_mais{
  float: right;
  margin: 200px 125px 0 0;
}

#all_boxes{
  /*margin: 50px 0 50px 220px;*/
}
.politic_box{
  position: relative;
  margin:25px;
  display: inline-flex;
  width: 250px;
  height: 90px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
  border-left: solid;
  border-width: 4px;
  border-color: #F8F3D4;
}
.photo_mask{
  float: left;
  display: inline-block;
  overflow: hidden;
  width: 90px;
  height: 90px;
}
.photo_politic{
  display: inline-block;
  width: 90px;
  /*height: 90px;*/
}
.name_politic{

  display: inline-block;
  font-size: 18px;
}

.name_politic{
  display: inline-block;
  margin: 15px 0 0 18px;
  color: #333333;
  width: 140px;

}
.p_siglum{
  position: absolute;
  display: inline-block;
  margin: 0;
  color: #333333;
  bottom: 10px;
  left: 108px;
}

/*END PG POLITICOS STYLE*/



/*PG POLITICO ESPECIFICO STYLE*/
#header_especific_politic{
  background-color: #00B8A9;
}
#title_content{
  background-color: #00B8A9;
  width: 1366px;
  height: auto;
  text-align: center;
}
#title_content_1{
  display: inline-block;
  width: 880px;
  text-align: left;
  padding-bottom: 30px;
}

.bar_p_especific{
  background-color: #FFDE7D;
}

.btn_p_especific{
  color : #FFDE7D;
  border-color: #FFDE7D;
}

.userIcon_p_especific{
  background-image: url(/static/res/icons/icon_y.svg) !important;
}

#details{
  color: #333333;
  font: 14px AsapSemiBold;

}

.photo_especific,#infos_basic,#title_content_1 h1, #details{
  display: inline-block;
}

.photo_especific,#title_content_1 h1{
  /*vertical-align: middle;*/
}
#title_content_1 h1, #details{
  margin: 15px 15px 0 15px;
}
#details{
  cursor: pointer;
  width: 115px;
  /*vertical-align: bottom;*/
  /*margin-bottom: 21px !important;*/
}
.rotate_img{
  transform: rotate(90deg);
}

#details:hover{
  text-decoration: underline;
}
#partido{
  font-family: AsapSemiBold;
  color: #FFDE7D;
}
#info_basic{
  margin-left: 108px;
}
#info_detail{
  margin: 0 0 0 108px;
  width: 600px;
  height: auto;
  display: none;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
}

.info_detail_opacity{
  opacity: 0;
}

.info_detail_inner{
  /*display: inline-block;*/
  width: 250px;
}
.info_detail_inner h4{
  font-size: 12px;
  margin: 10px 0 10px 0;
  color: #424242;
}

.info_detail_inner h3{
  font: 18px AsapRegular;
  margin: 0;
}
.info_detail_inner h4, .info_detail_inner h3{
  /*display: inline-block;*/
}
.inner_left{
  display: inline-block;
  float: left;
}
.inner_right{
  display: inline-block;
  float: right;
}

#cargo,#partido{
  margin:0;
}
.project_prop{
  padding-left: 5px;
  margin: 25px auto;
  position: relative;
}
.btn_n_p{
  width: 50px;
  height: 32.5px;
  border: none;
  display: inline-block;
  border-width: .5px !important;
  border-color: #b2b2b2 !important;
  color: #333333;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
}

.btn_prev{
  float: left;
  border-right: solid;
  border-radius: 20px 0 0 20px ;
}

.btn_next{
  float: left;
  border-left: solid;
  border-radius: 0 20px 20px 0 ;

}

.btns_container{
  float: right;
  margin-top: 75px;
}
.btns_container_2{
  position: absolute;
  right: 250px;
  bottom: 338px;
}

.project_prop_title{
  display:inline-block;
  margin: 75px 0 15px 0;
  line-height: 35px;
}
.project_prop_inner{
  width: 2000px;
}
.especific_project_prop{
  position: relative;
  width: 335px;
  height: 150px;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
  border-radius: 2px;
  padding: 10px 0 0 25px;
  margin: 0 12px 25px 1px;
  display: inline-table;
}
.prop_type_n,.prop_name{
  margin: 0;
}
.prop_desc_container{
  width: 305px;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  position: relative;
}
.prop_desc{
  font: 14px AsapRegular;
  color:#424242;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin: 15px 0 20px 0 ;

}
.prop_details{
  position: absolute;
  bottom: 25px;
}
/*.prop_desc_container:after{
  content: "...";
    position:absolute;
    bottom:0;
    right:0;
}*/

.prop_status{

  font: 14px AsapRegular;
  width : 87px;
  height: 22px;
  border-radius: 20px;
  background-color: transparent;
  border-width: 2px;
  color : #48E237;
  border-color: #48E237;
  border-style: solid;
  text-align: center;
  padding-top: 2px;
  float: right;
  margin-right: 25px;
}

.p_donut_chart_outer, #legend_status_prop{
  display: inline-block;
  position: relative;
}

.rect_hover{
  position: absolute;
  padding: 2px 3px;
  width: auto;
  height: 15px;
  background-color: #333;
  color:#fafafa;
  top:50%;
  left: 50%;
  display: none;
  pointer-events: none;
  opacity: 0.8;
  font: 13px AsapRegular;
  border-radius: 2px;
}
#legend_status_prop{
  position: relative;
  width: 100px;
  height: 200px;
  margin-left: 90px;

}
#legend_status_prop_inner{
  position: absolute;
  padding-top: 30px;
}
#legend_status_prop_inner span{
  font: 14px AsapRegular;
  color: #424242;
  display: inline-block;
  width: 70%;
  margin-left: 5px;
  vertical-align: middle;
}
.circle_status{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: solid;
  border-radius: 50%;
  vertical-align: middle;
  margin: 10px 0;
}
#circle_published{
  border-color: #8ECDED;
}
#circle_aproved{
  border-color: #B0F28C;
}
#circle_processing{
  border-color: #F4E58C;
}
#circle_refused{
  border-color: #F28C91;
}


.box_prop{
  width: 400px;
  height: 300px;
  margin-bottom: 50px ;
  opacity: 0;
  display: inline-table;
}
.box_prop_2{
  float: right;
}
.box_prop h2{
  font-size: 25px;
  vertical-align: middle;
}
.box_prop h3{
  text-align: left;
  margin-left: 30px;
  color: #B58CEA;
}
.select_year{
  -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
  -moz-appearance: none; /* Remove estilo padrão do FireFox */
  appearance: none; /* Remove estilo padrão do FireFox*/
  border: none;
  color: #333333;
  width: 115px;
  height: 30px;
  font: 14px AsapSemiBold;
  font-weight: normal;
  padding: 0 30px;
  margin: 20px 10px 0 0;
  background: url(/static/res/icons/dropdown_icon.svg) 94% no-repeat;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.15);
  border-radius: 2px;
  float: right;
}
.select_year_project_voted{
  margin-top: 30px;
}
.propositions_donut_chart{
  width: 200px;
  height: 200px;
  margin-top: 10px;
  /*opacity: 0;*/
}
.project_voted{
  padding-left: 5px;
}


.dsp_none{
  display: none;
}
.arc path {
  stroke: #fafafa;

}
.slices{
  stroke-width:3px;
}

.graph_prop_type{
  width:370px;
  height: 180px;
  position: relative;
  /*opacity: 0;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #e2e2e2;

}

.bars {
  fill: #948BE8;
}

.bar2 {
  fill: orange;
}

.x.axis path {
  display: none;
}

.tick text{
  fill: #B2B2B2;
  font: 14px AsapMedium;
}
.x .tick line{
  display: none;
}
.domain{
  display: none;
}

#prop_voted {

  position: relative;
  height: 360px;

  margin: 0 auto;
  padding-bottom: 30px;
}

#prop_voted:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: none;
}
input.tabs {
  display: none;
}
.choice_icon, .choice{
  display: inline-block;
}
.choice{
  vertical-align: top;
}

input.tabs + label {
  line-height: 40px;
  float: left;
  font: 25px AsapMedium;
  color: #333;
  cursor: pointer;
  transition: background ease-in-out .3s;
  width:190px;
  height: 80px;
  padding: 20px 0 0 30px;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
}
#label_yes{
  border-radius: 3px 0 0 0;
}
#label_secret{
  border-radius: 0 3px 0 0;
}

.content_voted_inner{
  position: relative;
}
.tab_know_more{
  width: 29.9% !important;
  padding-bottom: 30px !important;
}
.choice_know_more{
  font: 35px AsapSemiBold;
}
.choice_detailed{
  font: 14px AsapRegular;
  color: #424242;
  width: 130px;
}

.tabs_know_more.tabs:checked + label {
  background: #00B8A9 !important;
}
input.tabs:checked + label {
  color: #333;
  background: #B0F28C;
}

input.tabs + label + div {
  width: 1127px;
  opacity: 0;
  position: absolute;
  /*background: #eee;*/
  top: 200px;
  left: 0;
  height: 300px;
  z-index: -1;
  transition: opacity ease-in-out .3s;
}
input.tabs:checked + label + div {
  opacity: 1;
  z-index: 1000;
}

/*Pagina saiba mais ********/





.func_outer{
  width: 100%;
  height: 250px;
}

.func_inner{
  width:145px;
  height: 250px;
  display: inline-table;
  text-align: center;

}
#propor_senadores, #julgar_senadores, #avaliar_senadores{
  padding: 0 23px;
}

.func_inner p{
  font-size: 14px;
  width: 145px;
  text-align: left;
}
.func_inner span{
  color: #00B8A9 ;
}
.func_img{
  width: 125px;
}
.container_tabs_know_more{
  margin-top: 70px !important;
  padding: 0 !important;
  height: auto !important;
}

/*Senadores:*/

/*Deputados:*/
.func_box{
  width: 720px;
  margin: 0 auto;
}
#fiscalizar_deputados{
  padding: 0 130px;
}
#propor_deputados p{
  width: 150px; 
}


.office_desc{
  width: 820px;
  font-size: 14px;
}
.content_know_more{
  width: 100% !important;
  top: 150px !important;
}
.content_know_more h2{
  font: 25px AsapRegular;
}

.structure_content{
  position: relative;
  width: 360px;
}
#senator_structure text, #federal_deputies_structure text, #state_deputies_structure text{
  font-family: AsapRegular !important;
}

#senator_structure{
  display: block;
}

.structure_graph_2{
  float: right;
  width: 360px;
  height: 185px;
  background: #b2b2b2;
}
.structure, .structure_graph_2{
  display: inline-block;
}

.work_place_cabinet_container{
  margin-top: 70px;
}
.container_info{
  width: 360px;
  height: 220px;
  display: inline-block;
}
.container_info h3{
  font:25px AsapRegular;
  margin: 0 0 25px 0;
}
.container_info h4{
  color: #00B8A9;
  font-size: 15px;
  margin: 0;
}
.container_info p{
  font: 14px AsapMedium;
}
.img_place{
  width: 73%;
  margin: 0 auto;
}
.img_place img{
  width: 100%;
}
.cabinet{
  float: right;
}
.box_assessors_secretary_outer{
  width: 220px;
  margin: 0 auto;
  padding-top: 17px;
}
.box_assessors_secretary_outer2{
  width: 355px;
}
.assessors_secretary{
  width: 85px;
  height: 60px;
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}
.larger_box_secretary{
  width: 95px;
}
.smaller_box_secretary{
  border-right: 1px solid;
  border-color: #b2b2b24d;
}
.smaller_box_secretary span{
  margin: 3px 0 3px 5px;
}

.acessors{
  border-right: 1px solid;
  border-color: #b2b2b24d;
}
.assessors_secretary_icon{
  display: inline-block;
}
.large_icon{
  width: 21px;
  height: 26px;
  background-size: 100%;
}
.vice-president{
  margin-left: -26px !important;
  width: 120px;
}
.holder_know_more{
  width: 100%;
  height: 1000px;
  background-color: #fafafa;
}


/*-----------------*/

#holder{
  width: 880px;
  height: 500px;
  margin-bottom: 50px;
  background: transparent;
}
#loading_polls {
    display: none;
    width: 880px;
    height: 220px;
    z-index: 99999;
    background: #fff;
    position: absolute;
    top: 170px;
}
#party_trend{
  position: relative;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 70px;
}
#party_trend h2{
  font: 25px AsapRegular;
  margin: 0;
}
#party_trend_description{
  font: 14px AsapRegular;
  margin: 0 0 30px 0;
  color: #B2B2B2;
  display: inline-block;
}
#party_trend_percentage{
  font: 18px AsapRegular;
  color: #333333;
  float: right;
  margin:0;
}
#party_trend_graph_outer{
  width: 880px;
  height: 12px;
  background: #D3D3D3;
  border-radius: 20px;
}
#party_trend_graph_inner{
  width: 440px;
  height: 12px;
  background: #8ECDED;
  border-radius: 20px;
}
#line{
  position: absolute;
  width: 2000px;
  height: 3px;
  top: 100px;
  left: -550px;
  background-color: #B0F28C;
}
.line_know_more{
  top:130px !important;
  background-color: #00B8A9 !important;
  height: 7px !important;
}
.project_prop, .project_voted{
  overflow: hidden;
  width: 1127px;
}

.select_year_project_voted{
  float: left;
}

/*END PG POLITICO ESPECIFICO STYLE*/


/*HISTORY CANDIDATURE STYLE*/

#history_candidature_contaner{
  padding-top: 70px;
  width: 980px;
  height: 460px;
  background: #15B0BC;
}

#history_candidature_contaner h2{
  margin: 0;
}
.graph_history .tick text{
  fill: #424242;
}
.graph_history .tick line{
  stroke: #4242424d;
}
.time_line{
  float: right;
  width: 280px;
  height: 270px;
  background-color: #fafafa;
}
.graph_history_candidature, .time_line{
  display: inline-block;
}





/*RESPONSIVE*/

@media (max-width: 1366px) {

  #content{
    width: 100%;
  }
  .header{
    width: 100% !important;
  }

  /*#title_content_1{
    padding: 3.6% 0 4.4% 18%;
  }*/
}

@media (max-width: 1360px) {
  .project_prop, .project_voted{
    width: 750px;
  }
  .project_voted{
    /*margin: 0 auto;*/
  }

  .btns_container_2{
    right: 0;
  }
  input.tabs + label + div{
    left:8%;
    width: 810px;
  }
  /*.project_prop_title{
    padding-left: 18%;
  }
  .btns_container{
    padding-right: 18%;
  }*/
}

@media (max-width: 1200px) {
  .header_inner{
    width: 1000px;
  }
}

@media (max-width: 1050px) {

  .header_inner{
    width: 840px;
  }
  #title_content_1{
    width: 780px;
  }
  #details{
    text-decoration: underline;
  }
  #content_inner{
    width: 750px;
  }
  #box_status_type_inner{
    margin: 0 auto;
    width: 400px;
  }
  .box_prop_2{
    float: none;
  }
  input.tabs + label{
    width: 157px;
  }
  input.tabs + label + div{
    left:0;
    width: 100%;
  }

  .select_year_prop_status, .select_year_prop_type{
    margin-right: 0;
  }
  #party_trend_graph_outer{
    width: 750px;
  }

  .project_prop_title, .btns_container{
    margin-top: 30px;
  }

}



@media (max-width: 880px) {

  h1{
  font-size: 52px;
  }
  h2{
  font-size: 35px;
  }
  .header_inner{
    width: 100%;
  }
  .hamburger{
    margin-left: 25px;
  }
  .userBtn{
    margin-right: 25px;
  }
  #title_content_1{
    width: 100%;
    /*padding: 0 0 30px 70px;*/
    /*padding: 3.6% 0 4.4% 10%;*/
  }
  #title_content_1_inner{
    position: relative;
    padding-left: 55px;
  }

  #info_detail{
    width: 520px;
  }
  #content_inner{
    width: 100%;
  }
  .project_prop, .project_voted{
    width: 680px;
  }
  input.tabs + label + div{
    /*left: 8%;*/
  }
  .content_voted_inner{
    width: 685px;
    margin: 0 auto;
  }
  #project_prop_head{
    padding: 0 55px;
  }
  .especific_project_prop{
    width: 300px;
    height: 134px;

  }
  .prop_desc{
    width: 270px;
  }
  #project_voted_head{
    padding: 0 55px;
  }
  #prop_voted_outer{
    width: 100%;
  }
  #prop_voted{
    margin: 0 auto;
    width: 100%;
  }
  .btns_container_2{
    bottom:342.5px;
  }
  input.tabs + label{
    /*position: relative;*/
    width: 21.5%;
    height: 80px;
    padding: 15px 0 0 3.5%;
  }
  .btns_container_2 {
      right: 9.5%;
  }

  .select_year_project_voted {
      margin-left: 55px;
  }
  #line{
    top: 95px;
  }

  #party_trend_inner, #party_trend_graph_outer{
    width: 96%;
    margin: 0 auto;
  }
}



@media (max-width: 700px){
  #details{
    display: inline;
  }
}

@media (max-width: 682px){
  #title_content{
    padding-bottom: 15px;
  }

  #title_content_1_inner{
    margin: 0 auto;
    padding: 0;
    width: 90%;
  }
  #title_content_1 h1, #details{
    margin: 0 0 0 10px;
  }
  #info_basic{
    margin-left: 104px;
  }
  #details{
    position: absolute;
    top: 112px;
    left: 94px;
  }
  #info_detail{
    margin: 35px 0 0 102px;
    /*margin-left: 102px;*/
    width: 72%;
  }
  .inner_left{
    width: 220px;
  }
  .inner_right{
    float: left;
  }
  .info_detail_inner{
    text-align: left;
    width: auto;
  }

  #project_prop_head{
    padding: 0;
  }
  #project_prop_head_inner{
    width: 90%;
    margin: 0 auto;
  }
  .project_prop, .project_voted{

    width: 485px;
  }
  .especific_project_prop{
    width: 450px;
    height: 160px;

  }
  .prop_desc{
    width: 420px;
  }
  .content_voted_inner{
    width: 490px;
  }

  #project_voted_head{
    width: 96%;
    padding: 0;
    margin: 0 auto;
  }

  .select_year_project_voted {
      margin-left: 30px;
  }
  .project_prop_title, .btns_container, .project_prop_title{
    margin-top: 7%;
  }

  input.tabs + label{
    padding: 15px 1.75% 0 1.75%;
  }
  .labels{
    text-align: center;

  }
  .choice{
    display: none;
  }
   .choice_detailed {
    width: auto;
   }

}

@media (max-width: 580px){
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 27px;
  }
  #details{
    top: 88px;
  }
  #info_detail{
    width: 80%;
  }

  .btns_container_2{
    bottom: 358px;
  }


  .box_prop{
    margin-bottom: 0;
  }
  .display_ib, .select_year_prop_status, .select_year_prop_type{
    margin-top: 0;
  }
  input.tabs + label{
    font-size: 18px;
    /*padding: 2% 0 0 3%;*/
  }
  .choice_detailed {
    font-size: 12px;
    
  }
  input.tabs + label {
    height: 65px;
  }
  #line {
      top: 80px;
  }

  #party_trend_description{
    margin: 0;
  }
  #party_trend_percentage{
    margin:10px 0;
    float: none;
  }

}

@media (max-width: 440px){
  #title_content{
    padding-bottom: 40px;
  }
  #title_content_1{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  #details{
    width: 100%;
    left: 0;
    top: 180px;
  }
  #info_detail{
    width: auto;
    /*padding-top: 30px !important;*/
  }
  .inner_left{
    padding-top: 30px;
  }
  .inner_left, .inner_right{
    display: inline-block;
    float: none;
    width: 220px;
  }
  #project_prop_head_inner{
    width: 96%;
    margin: 0 auto;
  }
  #title_content_1 h1, #details, #info_basic, #info_detail{
    margin: 0 auto;
  }

  .photo_mask{
    text-align: center;
    width: 100%;
  }
  #box_status_type{
    width: 100%;
  }
  #box_status_type_inner{
    width: 96%;
  }
  .box_prop{
    width: 100%;
  }


}
@media (max-width: 416px){
  .display_ib{
    width: 100%;
  }
  .graph_prop_type{
    width: 100%;
  }
  .select_year_prop_status, .select_year_prop_type{
    margin-top: 0;
    float: none;
  }
  input.tabs + label{
    font-size: 14px;
  }

  #legend_status_prop{
    margin-left: 30px;
  }
  #legend_status_prop_inner span{
    font-size: 12px;
  }

}

@media (max-width: 359px){
  .btns_container{
    margin: 0 0 10px 0;
  }
  .project_prop_title{
    /*width: 200px;*/
  }
  .choice_detailed {
      font-size: 11px;
  }
  .btns_container_2{
    bottom:348px;
  }
  .p_donut_chart_outer{
    width: 60%;
  }
  #legend_status_prop{
    margin-left: 0;
    width: 80px;
  }
  #legend_status_prop_inner{
    padding-top: 54%;
  }
}