<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Políticos CE</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
      content="height = device-height,
          width = device-width,
          initial-scale = 1.0,
          minimum-scale = 1.0,
          maximum-scale = 1.0,
          user-scalable = no" />    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-3.3.1.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/d3.v3.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/trunk8.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>