{% extends "base.html" %}

{% block content%}
<div id= "content">
    <div class="header full_width">
        <div class="header_inner">
            <div class="hamburger_menu">
                <div class="hamburger">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
              </div>
          </div>
          <!-- <button class="btn noFill userBtn"><span class="userIcon"><span>Login</span> </span> </button> -->
      </div>
  </div>
  <div id ="info1">

    <div id="info1_part1">
      <div id="info1_part1_inner">
        <h1 id= "title_info1">O que nossos políticos estão fazendo?</h1>
        <h4>Acompanhe o trabalho dos seus eleitos do legislativo numa plataforma transparente e livre de influências</h4>


          <div id= "search_bar">
              <form method="GET" action="search">
                  <select id="select_item" name="position_field">
                   <option value="senator">Senador</option>
                   <option value="federal-deputy">Deputado Federal</option>
                   <option value="state-deputy">Deputado Estadual</option>
               </select>

               <input id= "search_input" type="text" name="name_field" placeholder="Nome">
               <input type="submit" value="Buscar" class="btn fill" id= "search_submit">
           </form>
          </div>

       <img id="img_brasil" src="/static/res/icons/brasil2.png">
     </div>
 </div>
 <div id = "boxes">
    <div id= "explore_box1" class="explore_box">
        <img class="balls" src="/static/res/icons/bolinhas_white.svg">
        <div class="img_place_index">
          <img class="place" src="/static/res/icons/senadores_img.png">
        </div>
        <h3>Senadores</h3>
        <a class="a_btn_explorar" href="/politician-list/senator"><button class="btn noFill btn_explorar" ">Explorar </button></a>
    </div>
    <div id= "explore_box2" class="explore_box">
        <img class="balls" src="/static/res/icons/bolinhas_white.svg">
        <div class="img_place_index">
          <img class="place" src="/static/res/icons/dep_federais_img.png">
        </div>
        <h3>Deputados Federais</h3>
        <a class="a_btn_explorar" href="/politician-list/federal-deputy"><button class="btn noFill btn_explorar" >Explorar</button> </a>
    </div>
    <div id= "explore_box3" class="explore_box">
        <img class="balls" src="/static/res/icons/bolinhas_white.svg">
        <div class="img_place_index">
          <img class="place" src="/static/res/icons/dep_estaduais_img.png">
        </div>
        <h3>Deputados Estaduais</h3>
        <a class="a_btn_explorar" href="/politician-list/state-deputy"><button class="btn noFill btn_explorar" >Explorar</button> </a>
    </div>
</div>
</div>
<div id = "info2" class="full_width">
  <div id="info2_inner">
    <div id="info2_part1">
        <img src="/static/res/icons/bolinhas.svg">
        <h2 id= "title_info2">Uma plataforma política sobre o legislativo cearence</h2>
        <p>Pesquise, explore e entenda sobre o trabalho realizado pelos políticos da esfera legislativa do ceará, eles são responsáveis por elaborar as leis que regulam o Estado,
         a conduta dos cidadãos e das organizações públicas e privadas. No Brasil, o Poder Legislativo é composto pela Câmara dos Deputados (que representa os cidadãos)
          e pelo Senado Federal (que representa os Estados e o Distrito Federal), formando o Congresso Nacional, que se localiza em Brasília.</p>
    </div>
    
  </div>  
</div>
<div id="info_boxes_outer" class="full_width">
  <div id = "info_boxes">
      <div class= "info_box info_box1">
          <h2>Transparente e livre de influências</h2>
          <p>Esta plataforma foi contruida para ﬁns acadêmicos por alunos da Universidade Federal do Ceará, portando, se caracteriza totalmente apartidária.</p>
          <div id="img_transparency"></div>
      </div>
      <div class= "info_box info_box2">
          <h2>Mantida com dados oficiais do governo</h2>
          <p>Todas as informações foram extraídas da base de dados dos governos federal e estadual, foram usados os bancos: </p>
          <div id="img_bd"></div>
      </div>
  </div>
</div>


<div id="info3" class="full_width">
    <div id="info3_inner">
      <div id="info3_part1" >
          <h2 id= "title_info3">Entenda melhor sobre o poder legislativo</h2>
          <p>Compreenda as diferenças entre os poderes e quais as principais funções, direitos e obrigações que nossos políticos têm </p>

          <a href="/know-more"><button class="btn fill" >Saiba mais</button></a>

      </div>
      <img class="img_people" src="/static/res/icons/knowMore_img.png">
    </div>
</div>
<div id="footer" class="full_width"></div>
</div>
{% endblock %}