{% extends "base.html" %}

{% block content %}
<div id= "content">
  <div class="header full_width" id="header_politicos">
    <div class="header_inner">
      <div class="hamburger_menu">
        <div class="hamburger">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
      <!-- <button class="btn noFill userBtn"><span class="userIcon"><span>Login</span></span></button> -->
      <div class="logo_container">
        <a href="/"><img class="logo_img" src="/static/res/icons/app-logo.png"></a>
      </div>
    </div>
  </div>
  <div id="top_content" class="full_width">
    <div id="top_content_1" class="top_content_1_know_more">
      <img class="bolinhas_know_more" src="/static/res/icons/bolinhas.svg">
      <h1>Poder Legislativo</h1>
      <p>É composto pela Câmara dos Deputados e Senado Federal. Os estados brasileiros também possuem
        o Poder Legislativo (composto pelos deputados estaduais) Além de fazer as leis, cabe aos integrantes
      do Poder Legislativo aprovar ou rejeitar as leis propostas pelo Poder Executivo, ﬁscalizar, entre outras atribuições</p>
      <img class="img_people img_people_know_more" src="/static/res/icons/knowMore_img.png">
    </div>
    
  </div>
  <div id="middle_content">
    <div id="prop_voted" class="container_tabs_know_more">

      <input type="radio" name="tabs" class="tabs tabs_know_more" id="tab1" checked>

      <label id="tab_know_more1" class="tab_know_more" for="tab1">
        <img src="/static/res/icons/bolinhas_white.svg">
        <div class="choice choice_know_more">
          Senadores
        </div>
        <div class="line_separator line_separator_know_more"></div>
      </label>

      <div class= "content_know_more content_know_more_1">
        <h2>Função</h2>

        <div class="func_outer func_outer1">

          <div class="func_inner func_inner1">
            <img class="func_img" src="/static/res/icons/representar_senadores.png">
            <p>Eles <span>representam</span> a população em profun- das discussões sobre problemas como economia, agricultura e segurança. </p>
          </div>

          <div id="propor_senadores" class="func_inner func_inner1">
            <img class="func_img" src="/static/res/icons/propor_senadores.png">
            <p>Na sua função, o senador pode <span>propor</span> novas leis e normas, <span>alterar</span> a Constituição e <span>avaliar</span> as propostas dos Deputados. </p>
          </div>

          <div id="julgar_senadores" class="func_inner func_inner1">
            <img class="func_img" src="/static/res/icons/julgar_senadores.png">
            <p>Compete ao Senado <span>julgar</span> e <span>processar</span> os crimes de responsabili- dade dos membros dos poderes Executivo e Judiciário. </p>
          </div>

          <div id="avaliar_senadores" class="func_inner func_inner1">
            <img class="func_img" src="/static/res/icons/avaliar_senadores.png">
            <p>Também <span>avaliam</span> e <span>aprovam</span> as escolhas de pessoas que irão ocupar cargos impor- tantes no governo, como os Ministros. </p>
          </div>

          <div class="func_inner func_inner1">
            <img class="func_img" src="/static/res/icons/aprovar_senadores.png">
            <p>É intrínseca ao cargo do senador <span>autorizar</span> algumas transações financeiras e <span>aproveitar</span> as contas públicas da União. </p>
          </div>
        </div>

        <div class="content_data">
          <h2>Estrutura</h2>
          <div class="content_data_inner">
            <div class="structure">

              <div class="structure_content">
                  <!-- <object id="senator_structure" data="https://upload.wikimedia.org/wikipedia/commons/c/c9/Senado_Federal_%28Brasil%29_-_atual.svg" type="image/svg+xml">

                     https://upload.wikimedia.org/wikipedia/commons/c/c9/Senado_Federal_%28Brasil%29_-_atual.svg

                  </object>
                  <span>81</span> -->
                  <div id="senator_structure" class="structure_graph_1"></div>
                </div>
              </div>

              <div class="structure_graph_2">
                GRÁFICO
              </div>
            </div>
          </div>
          <div class="work_place_cabinet_container">
            <div class="work_place_cabinet_container_inner">
              <div class="container_info work_place">
                <h3>Local de Trabalho</h3>
                <div class="img_place">
                  <img src="/static/res/icons/senadores_img.png">
                </div>
                <p>Os senadores do Senado Fedral ﬁcam localizados no
                 Palácio Nereu Ramos, popularmente conhecido como
                 Congresso Nacional. O edifício foi inaugurado em 1960
               e projetado pelo arquiteto Oscar Nyemeyer.</p>
             </div>
              <div class="container_info cabinet">
                <div>
                  <h3>Gabinete</h3>
                  <p>Cada parlamentar, cada liderança partidária e liderança
                   dos blocos têm direito a um gabinete exclusivo. Cada gabinete 
                 pode ser ocupado por 11 pessoas. Sendo:</p>
               </div>
               <div class="box_assessors_secretary_outer">
                  <div class="assessors_secretary acessors">
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <h4>5 acessores</h4>
                  </div>
                  <div class="assessors_secretary secretary">
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <h4>6 secretários</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="footer" class="footer_know_more full_width"></div>
        </div>
    <input type="radio" name="tabs" class="tabs tabs_know_more" id="tab2">
    <label id="tab_know_more2" class="tab_know_more" for="tab2">
      <img src="/static/res/icons/bolinhas_white.svg">
      <div class="choice choice_know_more">
        Deputados Federais
      </div>
      <div class="line_separator line_separator_know_more"></div>
    </label>
    <div class= "content_know_more content_know_more_2">
      <h2>Função</h2>

        <div class="func_outer">
          <div class="func_box">
            <div id="propor_deputados" class="func_inner func_inner2">
              <img class="func_img" src="/static/res/icons/propor_deputados.png">
              <p>Devem <span>propor</span>, <span>discutir</span> e <span>aprovara</span> novas leis ou ementas. E também <span>aprovar ou não</span> medidas provisórias propostas pelo presidente. </p>
            </div>

            <div id="fiscalizar_deputados" class="func_inner func_inner2">
              <img class="func_img" src="/static/res/icons/fiscalizar_deputados.png">
              <p>Outra função é <span>fiscalizar</span> e <span>controlar</span> as ações do poder Execu- tivo. Para isso, têm o suporte do Tribunal de Contas da União. </p>
            </div>

            <div class="func_inner func_inner2">
              <img class="func_img" src="/static/res/icons/investigar_deputados.png">
              <p>Os deputados podem <span>criar uma CPI</span> para <span>investigar</span> um tema ou situação específica quando há denúncias ou irregularidas. </p>
            </div>
          </div>
        </div>

      <div class="content_data">
          <h2>Estrutura</h2>
          <div class="content_data_inner">
            <div class="structure">

              <div class="structure_content">
                  <!-- <object id="senator_structure" data="https://upload.wikimedia.org/wikipedia/commons/c/c9/Senado_Federal_%28Brasil%29_-_atual.svg" type="image/svg+xml">

                     https://upload.wikimedia.org/wikipedia/commons/c/c9/Senado_Federal_%28Brasil%29_-_atual.svg

                  </object>
                  <span>81</span> -->
                  <div id="federal_deputies_structure" class="structure_graph_1"></div>
                </div>
              </div>

              <div class="structure_graph_2">
                GRÁFICO
              </div>
            </div>
          </div>
          <div class="work_place_cabinet_container">
            <div class="work_place_cabinet_container_inner">
              <div class="container_info work_place">
                <h3>Local de Trabalho</h3>
                <div class="img_place">
                  <img src="/static/res/icons/dep_federais_img.png">
                </div>
                <p>A Câmara dos Deputados Federais fica localizada no
                  Palácio Nereu Ramos, popularmente conhecido como
                  Congresso Nacional. O edifício foi inaugurado em 1960
                  e projetado pelo arquiteto Oscar Nyemeyer.</p>
             </div>
              <div class="container_info cabinet">
                <div>
                  <h3>Mesa Diretora</h3>
                  <p>A mesa diretora da câmara dos deputados é responsável
                  pela direção dos trabalhos legislativos e dos serviços 
                administrativos da casa. Composta por: </p>
               </div>
               <div class="box_assessors_secretary_outer box_assessors_secretary_outer2">
                  <div class="assessors_secretary acessors larger_box_secretary">
                    <span class="userIcon assessors_secretary_icon"></span>
                    <h4>1 presidente</h4>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                   
                    <h4 class="vice-president">2 vice-presidentes</h4>
                  </div>
                  <div class="assessors_secretary secretary smaller_box_secretary">
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <h4>4 secretários</h4>
                  </div>
                  <div class="assessors_secretary secretary larger_box_secretary">
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <span class="userIcon assessors_secretary_icon large_icon"></span>                 
                    <h4>2 suplentes de secretários</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="footer" class="footer_know_more full_width"></div>
    </div>
    <input type="radio" name="tabs" class="tabs tabs_know_more" id="tab3">
    <label id="tab_know_more3" class="tab_know_more " for="tab3">
      <img src="/static/res/icons/bolinhas_white.svg">
      <div class="choice choice_know_more">
        Deputados Estaduais
      </div>
    </label>
    <div class= "content_know_more content_know_more_3">
      <h2>Função</h2>

        <div class="func_outer">
          <div class="func_box">
            <div id="propor_deputados" class="func_inner">
              <img class="func_img" src="/static/res/icons/propor_deputados.png">
              <p>Devem <span>propor</span>, <span>discutir</span> e <span>aprovara</span> novas leis ou ementas. E também <span>aprovar ou não</span> medidas provisórias propostas pelo presidente. </p>
            </div>

            <div id="fiscalizar_deputados" class="func_inner">
              <img class="func_img" src="/static/res/icons/fiscalizar_deputados.png">
              <p>Outra função é <span>fiscalizar</span> e <span>controlar</span> as ações do poder Execu- tivo. Para isso, têm o suporte do Tribunal de Contas da União. </p>
            </div>

            <div class="func_inner">
              <img class="func_img" src="/static/res/icons/investigar_deputados.png">
              <p>Os deputados podem <span>criar uma CPI</span> para <span>investigar</span> um tema ou situação específica quando há denúncias ou irregularidas. </p>
            </div>
          </div>
        </div>

      <div class="content_data">
        <h2>Estrutura</h2>
        <div class="content_data_inner">
          <div class="structure">

            <div class="structure_content">
                <!-- <object id="senator_structure" data="https://upload.wikimedia.org/wikipedia/commons/c/c9/Senado_Federal_%28Brasil%29_-_atual.svg" type="image/svg+xml">

                   https://upload.wikimedia.org/wikipedia/commons/c/c9/Senado_Federal_%28Brasil%29_-_atual.svg

                </object>
                <span>81</span> -->
                <div id="state_deputies_structure" class="structure_graph_1"></div>
              </div>
            </div>

            <div class="structure_graph_2">
              GRÁFICO
            </div>
          </div>
        </div>
        <div class="work_place_cabinet_container">
          <div class="work_place_cabinet_container_inner">
            <div class="container_info work_place">
              <h3>Local de Trabalho</h3>
              <div class="img_place">
                <img src="/static/res/icons/dep_estaduais_img.png">
              </div>
              <p>O prédio da Assembleia Legislativa do Ceará, Palácio 
                 Deputado Adauto Bezerra, foi inaugurado em 1977, a atual
                 sede foi projetada pelos arquitetos José da Rocha Furtado
                 Filho e Roberto Martins Castelo.</p>
           </div>
            <div class="container_info cabinet">
              <div>
                  <h3>Mesa Diretora</h3>
                  <p>A mesa diretora da câmara dos deputados é responsável
                  pela direção dos trabalhos legislativos e dos serviços 
                administrativos da casa. Composta por: </p>
               </div>
               <div class="box_assessors_secretary_outer box_assessors_secretary_outer2">
                  <div class="assessors_secretary acessors larger_box_secretary">
                    <span class="userIcon assessors_secretary_icon"></span>
                    <h4>1 presidente</h4>
                    <span class="userIcon assessors_secretary_icon"></span>
                    <span class="userIcon assessors_secretary_icon"></span>
                   
                    <h4 class="vice-president">2 vice-presidentes</h4>
                  </div>
                  <div class="assessors_secretary secretary smaller_box_secretary">
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <h4>4 secretários</h4>
                  </div>
                  <div class="assessors_secretary secretary larger_box_secretary">
                    <span class="userIcon assessors_secretary_icon large_icon"></span>
                    <span class="userIcon assessors_secretary_icon large_icon"></span>                 
                    <h4>2 suplentes de secretários</h4>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div id="footer" class="footer_know_more full_width"></div>
    </div>
    <div class="box_shadow_know_more box_shadow_know_more1"></div>
    
    <div id="line" class="line_know_more full_width"></div>

  </div>

</div>
<div class="holder_know_more full_width"></div>
<!-- <div id="footer" class="full_width"></div> -->
</div>
{% endblock %}