{% extends "base.html" %}

{% block content %}
<div id="content">
    <div class="header full_width" id="header_politicos">
        <div class="header_inner">
            <div class="hamburger_menu">
                <div class="hamburger">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
                </div>
            </div>
            <button class="btn noFill userBtn">
                <span class="userIcon"><span>Login</span></span>
            </button>
        </div>
    </div>
    <div id="top_content">
        <div id="top_content_1">
            <h1>{{ title }}</h1>
            <p>
                Eles representam os estados brasileiros na política, elaboram as leis e ﬁscalizam os atos do Executivo. Uma das responsabilidades do Senado é aprovar a indicação feita pelo Poder Executivo de nomes para ocupar cargos importantes e de diplomatas que representaram o Brasil no exterior.
            </p>
        </div>
        <a id="btn_saiba_mais" href="/know-more">
            <button class="btn fill">Saiba mais</button>
        </a>
    </div>
    <div id="middle_content_all_politics">
        <p>A lista está organizada em ordem alfabética</p>
        <div id="all_boxes">
            {% for p in politicians %}
            <a href="/politician/{{ p.id }}">
                <div class="politic_box">
                    <div class="photo_mask">
                        <img class="photo_politic" src="{{ p.photo_url }}" alt="Imagem de {{ p.parliamentary_name }}">
                    </div>
                    <div>
                        <h2 class="name_politic">{{ p.parliamentary_name }}</h2>
                        <h4 class="p_siglum">{{ p.party_siglum }}</h4>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div id="footer" class="full_width"></div>
</div>
{% endblock %}