{% extends "base.html" %}

{% block content %}
<div id="content">
    <div class="header" id="header_especific_politic">
        <div class="hamburger">
            <div class="bar1 bar_p_especific"></div>
            <div class="bar2 bar_p_especific"></div>
            <div class="bar3 bar_p_especific"></div>
        </div>
        <button class="btn noFill userBtn btn_p_especific">
            <span id="userIcon" class="userIcon_p_especific">
                <span>Login</span>
            </span>
        </button>
    </div>
    <div id="title_content">
        <div id="title_content_1">
            <img class="photo_politic photo_especific" src="{{ politician_data.photo_url }}">
            <h1 id="name_politic_especific">{{ politician_data.parliamentary_name }}</h1>
            <div id="details">Mais detalhes
                <span></span>
            </div>
            <div id="info_basic">
                <h3 id="cargo">{{ position }}</h3>
                <h3 id="partido">{{ politician_data.party_siglum }}</h3>
            </div>
        </div>

    </div>
    <h2 class="project_prop_title">Projetos Propostos</h2>
    <div class="project_prop">

        <div class="project_prop_inner all_project_prop">
            {% for p in propositions %}
                <div class="especific_project_prop">
                    <div class="prop_status">{{ p.status }}</div>
                    <h4 class="prop_type_n">
                        <span class="prop_type">{{ p.siglum }}</span> n°
                        <span class="prop_n">{{ p.number }}</span>
                    </h4>

                    <h3 class="prop_name">Nome do Projeto</h3>
                    <p class="prop_desc">{{ p.description }}</p>
                    <a href="{{ p.url }}" class="prop_details">mais detalhes</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="box_status_type">
        <div class="box_prop">
            <h2 class="display_ib">Status das proposições</h2>
            <select class="select_year select_year_prop_status" class="display_ib">
            </select>
            <div class='pie_chart'>75</div>
        </div>

        <div class="box_prop">
            <h2 class="display_ib">Tipo de proposição</h2>
            <select class="select_year" class="display_ib">
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
            </select>

            <h3>Total:
                <span id="total_prop"> 272</span>
            </h3>
            <div id="graph_prop_type">
                <div id="pec" class="graph_colums"></div>
                <div id="pl" class="graph_colums"></div>
                <div id="rcp" class="graph_colums"></div>
                <div id="rem" class="graph_colums"></div>
                <div id="bk_graph">
                    <div class="graph_lines"> 60
                        <div class="lines"></div>
                    </div>
                    <div class="graph_lines"> 40
                        <div class="lines"></div>
                    </div>
                    <div class="graph_lines"> 20
                        <div class="lines"></div>
                    </div>
                    <div class="graph_lines"> 0
                        <div class="lines"></div>
                        <div class="colum_text">PEC</div>
                        <div class="colum_text">PL</div>
                        <div class="colum_text">RCP</div>
                        <div class="colum_text">REM</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <h2 class="project_prop_title">Projetos Votados</h2>

    <div id="prop_voted">

        <input type="radio" name="tabs" class="tabs" id="tab1" checked>

        <label for="tab1">
            <div class="choice">
                SIM
            </div>
            <div class="choice_detailed">
                Propostas que o candidato concordou
            </div>
        </label>

        <div class="content_yes">
            <div class="project_voted">

                <div class="project_prop_inner voted_yes">
                    {% for v in votes['yes'][:5] %}
                        <div class="especific_project_prop">
                            <div class="prop_status">{{ v.result }}</div>
                            <h4 class="prop_type_n">
                                <span class="prop_type">{{ v.siglum }}</span> n°
                                <span class="prop_n">{{ v.number }}</span>
                            </h4>

                            <h3 class="prop_name">Nome do Projeto</h3>
                            <p class="prop_desc">{{ v.description }}</p>
                            <a href="{{ v.url }}" class="prop_details">mais detalhes</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input type="radio" name="tabs" class="tabs" id="tab2">
        <label for="tab2">
            <div class="choice">
                NÃO
            </div>
            <div class="choice_detailed">
                Propostas que o candidato foi contra
            </div>
        </label>
        <div class="content_no">

            <div class="project_voted">

                <div class="project_prop_inner voted_no">
                    {% for v in votes['no'][:5] %}
                        <div class="especific_project_prop">
                            <div class="prop_status">{{ v.result }}</div>
                            <h4 class="prop_type_n">
                                <span class="prop_type">{{ v.siglum }}</span> n°
                                <span class="prop_n">{{ v.number }}</span>
                            </h4>

                            <h3 class="prop_name">Nome do Projeto</h3>
                            <p class="prop_desc">{{ v.description }}</p>
                            <a href="{{ v.url }}" class="prop_details">mais detalhes</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input type="radio" name="tabs" class="tabs" id="tab3">
        <label for="tab3">
            <div class="choice">
                ABSTEVE
            </div>
            <div class="choice_detailed">
                Propostas que o político não votou
            </div>

        </label>
        <div class="content_abstain">
            <div class="project_voted">
                <div class="project_prop_inner voted_abstain">
                    {% for v in votes['abstention'][:5] %}
                        <div class="especific_project_prop">
                            <div class="prop_status">{{ v.result }}</div>
                            <h4 class="prop_type_n">
                                <span class="prop_type">{{ v.siglum }}</span> n°
                                <span class="prop_n">{{ v.number }}</span>
                            </h4>

                            <h3 class="prop_name">Nome do Projeto</h3>
                            <p class="prop_desc">{{ v.description }}</p>
                            <a href="{{ v.url }}" class="prop_details">mais detalhes</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input type="radio" name="tabs" class="tabs" id="tab4">
        <label for="tab4">
            <div class="choice">
                SECRETO
            </div>
            <div class="choice_detailed">
                Votações sem detalhes divulgados
            </div>

        </label>
        <div class="content_secret">
            <div class="project_voted">

                <div class="project_prop_inner voted_secret">
                    {% for v in votes['secret'][:5] %}
                        <div class="especific_project_prop">
                            <div class="prop_status">{{ v.result }}</div>
                            <h4 class="prop_type_n">
                                <span class="prop_type">{{ v.siglum }}</span> n°
                                <span class="prop_n">{{ v.number }}</span>
                            </h4>

                            <h3 class="prop_name">Nome do Projeto</h3>
                            <p class="prop_desc">{{ v.description }}</p>
                            <a href="{{ v.url }}" class="prop_details">mais detalhes</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <select class="select_year select_year_project_voted" class="display_ib">
            <option>2018</option>
            <option>2017</option>
            <option>2016</option>
        </select>

        <div id="line"></div>
        <div id="holder"></div>
    </div>

    <div id="footer" class="footer_especific_politic"></div>
</div>
{% endblock %}