{% extends "base.html" %}

{% block content %}
<div  id= "content">
    <div class="header full_width" id="header_especific_politic">
        <div class="header_inner">
            <div class="hamburger_menu">
                <div class="hamburger" >
                    <div class="bar1 bar_p_especific"></div>
                    <div class="bar2 bar_p_especific"></div>
                    <div class="bar3 bar_p_especific"></div>
                </div>
            </div>
            <!-- <button class="btn noFill userBtn btn_p_especific"><span class="userIcon userIcon_p_especific"><span>Login</span></span></button> -->
        </div>
    </div>
    
    <div class="header full_width" id="title_content">
        <div id="title_content_1">

            <div id="title_content_1_inner">
                <div class="balls_container">
                    <img class="balls_especific" src="/static/res/icons/bolinhas_yellow.svg">
                </div>
                <div class="photo_mask"><img class="photo_politic photo_especific" src="{{ politician_data.photo_url }}"></div>
                <h1 id="name_politic_especific">{{ politician_data.parliamentary_name }}</h1>
                <div id="details"><span> Mais detalhes </span>
                    <img class="rotate_img" src="/static/res/icons/dropdown_icon.svg">
                </div>
                <div id="info_basic">
                    <h3 id="cargo">{{ position }}</h3>
                    <h3 id="partido">{{ politician_data.party_siglum }}</h3>
                </div>
                <div id="info_detail" class="info_detail_opacity">
                    <div class="inner_left">
                        <div class="info_detail_inner">
                            <h4>Nome Completo</h4>
                            <h3>{{ politician_data.civil_name }}</h3>
                        </div>
                        <div class="info_detail_inner">
                            <h4 >Data de Nascimento</h4>
                            <h3>30 de Setembro de 1952</h3>
                        </div>
                    </div>
                    <div class="inner_right">
                        <div class="info_detail_inner ">
                            <h4 >Grau de Instrução</h4>
                            <h3>{{ politician_data.scholarity }}</h3>
                        </div>

                        <div class="info_detail_inner ">
                            <h4>Naturalidade</h4>
                            <h3>{{ politician_data.hometown }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="title_content_2">
        </div>
    </div>


    <div id="content_inner">
        <div id="project_prop_container">
            <div id="project_prop_head">
                <div id="project_prop_head_inner">
                    <h2 class="project_prop_title">Projetos Propostos</h2>
                    <div class="btns_container">
                        <button class="btn_n_p btn_prev" id="btn_prop_prev"><img src="/static/res/icons/prev_icon.svg"></button>
                        <button class="btn_n_p btn_next" id="btn_prop_next"><img src="/static/res/icons/next_icon.svg"></button>
                    </div>
                </div>
            </div>
            <div class="project_prop">
                <div class="prop project_prop_inner all_project_prop">
                    {% for p in propositions %}
                    <div class="especific_project_prop">
                        <div class="prop_status">{{ p.status }}</div>
                        <h3 class="prop_type_n">
                            <span class="prop_type">{{ p.siglum }}</span> n° <span class="prop_n">{{ p.number }}</span>
                        </h3>
                        <div class="prop_desc">{{ p.description }}</div>
                        <a href="{{ p.url }}" class="prop_details">mais detalhes</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div id= "box_status_type">
            <div id="box_status_type_inner">
                <div class="box_prop" >
                    <h2 class="display_ib">Status das proposições</h2>
                    <select class="select_year select_year_prop_status" class="display_ib">
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                    </select>

                    <!-- Colocar as quantidades de cada um-->
                    <div class="dsp_none" id="aproved">35</div>
                    <div class="dsp_none" id="published">65</div>
                    <div class="dsp_none" id="refused">54</div>
                    <div class="dsp_none" id="processing">46</div>


                    <!-- Gráfico de STATUS das proposições -->
                    <div id="container_graph_legend">
                        <div class="p_donut_chart_outer">
                            <div class='propositions_donut_chart'>

                            </div>
                            <div id="rect_hover_props" class="rect_hover">10</div>
                        </div>
                        <div id="legend_status_prop">
                            <div id="legend_status_prop_inner">
                                <div class="circle_status" id="circle_published"></div><span>Publicado</span>
                                <div class="circle_status" id="circle_aproved"></div><span>Aprovado</span>
                                <div class="circle_status" id="circle_processing"></div><span>Tramitando</span>
                                <div class="circle_status" id="circle_refused"></div><span>Recusado</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="box_prop box_prop_2" >
                    <h2 class="display_ib">Tipo de proposição</h2>
                    <select class="select_year select_year_prop_type" class="display_ib">
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                    </select>
                    <!-- Gráfico dos TIPOS de proposições -->
                    <div class="graph_prop_type_outer">
                        <div class="graph_prop_type">
                        </div>
                        <div id="rect_hover_type" class="rect_hover">10</div>
                    </div>
                    <div class="dsp_none" id="show_total_props">200</div>
                    <div class="dsp_none" id="qtd_pec">2</div>
                    <div class="dsp_none" id="qtd_pl">12</div>
                    <div class="dsp_none" id="qtd_rcp">11</div>
                    <div class="dsp_none" id="qtd_rem">23</div>
                    <div class="dsp_none" id="qtd_222">14</div>
                </div>
            </div>
        </div>

        <div id="project_voted_head">
            <h2 class="project_prop_title">Projetos Votados</h2>
        </div>

        <div id="prop_voted_outer">
            <div id="prop_voted">
                <input type="radio" name="tabs" class="tabs" id="tab1" checked>
                <label class="labels" id="label_yes" for="tab1">
                   
                    <img id="choice_icon_yes" class="choice_icon" src="/static/res/icons/white_yes_icon.svg">
                    <div class="choice">SIM</div>
                    <div class="choice_detailed choice_detailed_yes">
                        Propostas que o político concordou
                    </div>
                    <div class="line_separator"></div>
                </label>

                <div class= "content_yes">
                    <div class="btns_container btns_container_2 ">
                        <button class="btn_n_p btn_prev" id="btn_voted_yes_prev"><img src="/static/res/icons/prev_icon.svg"></button>
                        <button class="btn_n_p btn_next" id="btn_voted_yes_next"><img src="/static/res/icons/next_icon.svg"></button>
                    </div>
                    <div class="content_voted_inner content_voted_yes_inner">
                        <div class="project_voted project_voted_yes">

                            <div class="project_prop_inner voted_inner voted_yes">
                                    {% for v in votes['yes'][:5] %}
                                        <div class="especific_project_prop">
                                            <!-- v.result -->
                                            <div class="prop_status">{{ v.result }} </div>
                                            <h3 class="prop_type_n">
                                                <span class="prop_type">{{ v.siglum }}</span> n° <span class="prop_n">{{ v.number }}</span>
                                            </h3>
                                            <div class="prop_desc">{{ v.description }}</div>
                                            <a href="{{ v.url }}" class="prop_details">mais detalhes</a>
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="radio" name="tabs" class="tabs" id="tab2">
                <label class="labels"  id="label_no" for="tab2">
                    
                    <img id="choice_icon_no" class="choice_icon" src="/static/res/icons/color_no_icon.svg">
                    <div class="choice">
                        NÃO
                    </div>
                    <div class="choice_detailed choice_detailed_no">
                        Propostas que o político foi contra
                    </div>
                    <div class="line_separator"></div>
                </label>
                <div class= "content_no">
                    <div class="btns_container btns_container_2 ">
                        <button class="btn_n_p btn_prev" id="btn_voted_no_prev"> <img src="/static/res/icons/prev_icon.svg"> </button>
                        <button class="btn_n_p btn_next" id="btn_voted_no_next"> <img src="/static/res/icons/next_icon.svg"> </button>
                    </div>
                    <div class="content_voted_inner content_voted_no_inner">
                        <div class="project_voted project_voted_no">
                            <div class="project_prop_inner voted_inner voted_no">
                                    {% for v in votes['no'][:5] %}
                                        <div class="especific_project_prop">
                                            <div class="prop_status">{{ v.result }}</div>
                                            <h3 class="prop_type_n">
                                                <span class="prop_type">{{ v.siglum }}</span> n° <span class="prop_n">{{ v.number }}</span>
                                            </h3>
                                            <div class="prop_desc">{{ v.description }}</div>
                                            <a href="{{ v.url }}" class="prop_details">mais detalhes</a>
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="radio" name="tabs" class="tabs" id="tab3">
                <label class="labels" id="label_abstain" for="tab3">
                    <img id="choice_icon_abstain" class="choice_icon" src="/static/res/icons/color_abstain_icon.svg">
                    <div class="choice">
                        ABSTEVE
                    </div>
                    <div class="choice_detailed choice_detailed_abstain">
                        Propostas que o político não votou
                    </div>
                    <div class="line_separator"></div>
                </label>
                <div class= "content_abstain">
                    <div class="btns_container btns_container_2">
                        <button class="btn_n_p btn_prev" id="btn_voted_abstain_prev"> <img src="/static/res/icons/prev_icon.svg"> </button>
                        <button class="btn_n_p btn_next" id="btn_voted_abstain_next"> <img src="/static/res/icons/next_icon.svg"> </button>
                    </div>
                    <div class="content_voted_inner content_voted_abstain_inner">
                        <div class="project_voted project_voted_abstain">
                            <div class="project_prop_inner voted_inner voted_abstain">                          
                                    {% for v in votes['abstention'][:5] %}
                                        <div class="especific_project_prop">
                                            <div class="prop_status">{{ v.result }}</div>
                                            <h3 class="prop_type_n">
                                                <span class="prop_type">{{ v.siglum }}</span> n° <span class="prop_n">{{ v.number }}</span>
                                            </h3>
                                            <div class="prop_desc">{{ v.description }}</div>
                                            <a href="{{ v.url }}" class="prop_details">mais detalhes</a>
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="radio" name="tabs" class="tabs" id="tab4">
                <label class="labels" id="label_secret" for="tab4">
                    
                    <img id="choice_icon_secret" class="choice_icon" src="/static/res/icons/color_secret_icon.svg">
                    <div class="choice">
                        SECRETO
                    </div>
                    <div class="choice_detailed choice_detailed_secret">
                        Votações sem detalhes divulgados
                    </div>

                </label>
                <div class= "content_secret">
                    <div class="btns_container btns_container_2">
                        <button class="btn_n_p btn_prev" id="btn_voted_secret_prev"> <img src="/static/res/icons/prev_icon.svg"> </button>
                        <button class="btn_n_p btn_next" id="btn_voted_secret_next"> <img src="/static/res/icons/next_icon.svg"> </button>
                    </div>
                    <div class="content_voted_inner content_voted_secret_inner">
                        <div class="project_voted project_voted_secret">
                            <div class="project_prop_inner voted_inner voted_secret">                         
                                    {% for v in votes['abstention'][:5] %}
                                        <div class="especific_project_prop">
                                            <div class="prop_status">{{ v.result }}</div>
                                            <h3 class="prop_type_n">
                                                <span class="prop_type">{{ v.siglum }}</span> n° <span class="prop_n">{{ v.number }}</span>
                                            </h3>
                                            <div class="prop_desc">{{ v.description }}</div>
                                            <a href="{{ v.url }}" class="prop_details">mais detalhes</a>
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <select class="select_year select_year_project_voted" class="display_ib">
                    <option value="" disabled selected>Anos disponíveis</option>
                    <option selected="selected">2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>  
                </select>
                <div id="box_shadow_voted"></div>
                <div id="bkground_voted" class="full_width"></div>
                <div id="line"></div>
                <div class="loading_polls loading_polls_bkground"></div>
                <div class="loading_polls">
                    <div class="loading_polls_inner">
                        <h3>Carregando votações</h3>
                        <div class="loading_anim">
                            <span class="dot_loading"></span>
                            <span class="dot_loading"></span>
                            <span class="dot_loading"></span>
                        </div>
                    </div>
                </div>
                <div id="holder"></div>


            </div>
        </div>
        <div id="party_trend" class="full_width">
            <div  id="party_trend_inner">
                <h2>Tendencia partidária</h2>
                <h3 id="party_trend_description">Quantas votações o candidato seguiu a indicação da sua legenda.</h3>
                <h3 id="party_trend_percentage"><span id="val1">68</span> de <span id="val2">100</span></h3>
            </div>
            <div id="party_trend_graph_outer">
                <div id="party_trend_graph_inner"></div>
            </div>
        </div>

        <!-- <div id="candidature_history_graph"></div> -->
        <div id="history_candidature_contaner" class="full_width">
            <div id="history_graph_container">
                <h2>Histórico de candidaturas</h2>
                <div class="graph_history_candidature">
                            
                </div>
            </div>
                    <div class="time_line">
                        <h4 class="time_line_title">Linha do Tempo</h4>

                        <div class="time_line_content">
                            <div>
                                <div class="time_line_circles">
                                    <div class="circle_status" id="circle_time_line"></div>
                                    <span>|</span>

                                </div>
                                <div class="time_line_info">
                                    <h4>Foi eleito <b>presidente</b> do Senado Federal </h4>
                                    <span>1º de Fevereiro de 2017</span>
                                </div>
                                <div class="time_line_circles">
                                    <div class="circle_status" id="circle_time_line"></div>
                                    <span>|</span>

                                </div>
                                <div class="time_line_info">
                                    <h4>Foi eleito <b>presidente</b> do Senado Federal </h4>
                                    <span>1º de Fevereiro de 2017</span>
                                </div>
                                <div class="time_line_circles">
                                    <div class="circle_status" id="circle_time_line"></div>
                                    <span>|</span>

                                </div>
                                <div class="time_line_info">
                                    <h4>Foi eleito <b>presidente</b> do Senado Federal </h4>
                                    <span>1º de Fevereiro de 2017</span>
                                </div>
                                <div class="time_line_circles">
                                    <div class="circle_status" id="circle_time_line"></div>
                                    

                                </div>
                                <div class="time_line_info">
                                    <h4>Foi eleito <b>presidente</b> do Senado Federal </h4>
                                    <span>1º de Fevereiro de 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" class="footer_especific_politic full_width"></div>
        </div>
    </div>
{% endblock %}