{% extends "base.html" %}

{% block content %}
<div id="content">
    <div class="header full_width" id="header_politicos">
        <div class="header_inner">
            <div class="hamburger_menu">
                <div class="hamburger">
                  <div class="bar1"></div>
                  <div class="bar2"></div>
                  <div class="bar3"></div>
                </div>
            </div>
            <!-- <button class="btn noFill userBtn"><span class="userIcon"><span>Login</span></span></button> -->
            <div class="logo_container">
              <a href="/"><img class="logo_img" src="/static/res/icons/app-logo.png"></a>
            </div>
        </div>
    </div>
    <div id="top_content" class="full_width">
        <div id="top_content_1">
            <img src="/static/res/icons/bolinhas.svg">
            <h1>{{ title }}</h1>
            <p>
                Eles representam os estados brasileiros na política, elaboram as leis e ﬁscalizam os atos do Executivo. Uma das responsabilidades do Senado é aprovar a indicação feita pelo Poder Executivo de nomes para ocupar cargos importantes e de diplomatas que representaram o Brasil no exterior.
            </p>
            <a id="btn_saiba_mais" href="/know-more">
                <button class="btn fill">Saiba mais</button>
            </a>
        </div>

    </div>
    <div id="middle_content_all_politics">
        <p>A lista está organizada em ordem alfabética</p>
        <div id="all_boxes">
            {% if not politicians %}
                <h2>Nenhum resultado encontrado</h2>
            {% else %}
                {% for p in politicians %}
                
                <a class="politician_link" href="/politician/{{ p.id }}">
                    <!-- <div class="dsp_none p_id">p.id</div> -->
                    <div class="politic_box">
                        <div class="photo_mask">
                            <div class="dsp_none politic_img_src">{{ p.photo_url }}</div>
                            <img class="photo_politic" src="" alt="Imagem de {{ p.parliamentary_name }}">
                        </div>
                        <div>
                            <h2 class="name_politic">{{ p.parliamentary_name }}</h2>
                            <h4 class="p_siglum">{{ p.party_siglum }}</h4>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="loading_politician_anim">

        <div class="loading_polls loading_politician">
            <div class="loading_polls_inner loading_politician_inner">
                <h3>Carregando informações sobre o político</h3>
                <div class="loading_anim">
                    <span class="dot_loading"></span>
                    <span class="dot_loading"></span>
                    <span class="dot_loading"></span>
                </div>
                <button class="btn noFill btn_cancelar" >Cancelar</button>
            </div>
        </div>

    </div>
    <div id="footer" class="full_width"></div>
</div>
{% endblock %}
